@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#2A3759 ;
    font-family: 'Ubuntu', sans-serif;
    color: #778FD2;
}
.head{
    border-radius: 24px;
    background: #431D32;
    height: 10vh;
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.recipes1{
    margin-top: 10px;
    background: #431D32;
    width: fit-content;
    border-radius: 24px ;
    padding: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.recipes1-text{
    margin-right: 12px;
    font-family: 'Ubuntu', sans-serif;
    color: #778FD2;

}
.recipes1-img{
    border-radius: 24px;
}
.recipes{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.recipes1:hover{
    box-shadow: 4px 4px 10px 0px rgba(67, 29, 50, 1);

}
.description1{
    background: #431D32;
    border-radius: 24px ;
    padding: 12px;
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 60vh;
}
.description{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: #778FD2;
    display: none;
}
.description.active{
    display: block;
}
.description1-ul{
    margin-bottom: 10px;
    list-style-position: inside;    
}
.borsh{
    top: 15%;
    height: 70vh;
    width: 60%;
    left: 20%;
}